{{define "./server/internal/app/[prjname]/model/[module].model.gen.go.tpl"}}
// gen by codectl ,donot modify ,https://github.com/turingdance/codectl.git
// @author {{.Project.Author}}

package model
{{if gt (len .Types) 0}}
import 
(
	{{if or (has .Types "types.Date") (has .Types "types.DateTime")}}
	"github.com/turingdance/infra/types"
	{{end}}
	{{if has .Types "time.Time"}}
	"time"
	{{end}}
	"gorm.io/gorm"
)
{{end}}
const TableName{{.Module|ucfirst}} = "{{.Name}}"
const TableTitle{{.Module|ucfirst}} = "{{.Title}}"
const Table{{.Module|ucfirst}} = "{{.Module}}"
var {{.Module}}Keys []string= []string{ {{- range $i,$v := .Columns}}"{{ $v.DataColumn | camel }}",{{end}} }
//{{.Title}}数据库模型
type {{.Module|ucfirst}} struct{
	{{- range $i,$v := .Columns}}
        {{ $v.DataColumn | upercamel }} {{ $v.DataType }} `json:"{{ $v.DataColumn | camel }}" form:"{{ $v.DataColumn | camel }}" gorm:"type:{{$v.RawData.DataType|mysqltogorm}};{{if gt $v.DataSize 0}}size:{{$v.DataSize}};{{end}}{{if eq $v.IsPrimaryKey true}}primaryKey;{{end}}{{if eq $v.IsIndex true}}index;{{end}}{{if eq $v.AutoIncrement true}}autoIncrement;{{end}}{{if eq $v.DataType "types.Date"}}time_format:2006-01-02;time_utc:1;{{end}}{{if or (eq $v.DataType "types.DateTime") (eq $v.DataType "time.Time")}}time_format:2006-01-02 15:04:05;time_utc:1;{{end}}{{if not $v.Title }}{{else}}comment:{{$v.Title}};{{end}}"`
    {{end}}
}

// TableName {{.Module|ucfirst}}'s table name
func (*{{.Module|ucfirst}}) TableName() string {
	return TableName{{.Module|ucfirst}}
}
func (obj *{{.Module|ucfirst}}) BeforeCreate(tx *gorm.DB) (err error) {
	{{- range $i,$v := .Columns}}
		{{if eq $v.DataColumn "StartAt"}} 
			obj.StartAt = types.DateTimeNow()	
		{{end}}
		{{if eq $v.DataColumn "Deleted"}} 
			obj.Deleted = 0
		{{end}}
	{{end}}
	return
}
func (obj *{{.Module|ucfirst}}) BeforeUpdate(tx *gorm.DB) (err error) {
	{{- range $i,$v := .Columns}}
		{{if eq $v.DataColumn "UpdateAt"}} 
		obj.UpdateAt = types.DateTimeNow()	
		{{end}}
	{{end}}
	return
}
func init() {
	RegisterModel(&{{.Module|ucfirst}}{})
}

{{end}}