{{define "./web/src/api/[prjname]/[model].ts.tpl"}}
import  request  from "./index"
import {ICond} from "../types"
const prefix = "/{{.Module|lcfirst}}"

export type {{.Module|ucfirst|js}} = {
    {{- range $i,$v := .Columns}}
      {{$v.DataColumn|camel }} : {{if eq $v.DataType "string" }}string{{else if contains  $v.DataType "int" }}number{{else}} any {{end}}   // {{.Title}}
    {{end -}}
}
// 
export type I{{.Module|ucfirst}} = Partial<{{.Module|ucfirst|js}}>
//查询,搜索{{.Title}}对象
export function search(data:ICond) {
  return request({
    url: prefix +'/search',
    method: 'post',
    data:data
  })
}

//创建{{.Title}}对象
export function create(data:I{{.Module|ucfirst}}) {
  return request({
    url: prefix+'',
    method: 'post',
    data
  })
}
//更新{{.Title}}
export function update(data:I{{.Module|ucfirst}}) {
  return request({
    url: prefix,
    method: 'put',
    data
  })
}
//获取一条{{.Title}}记录
export function getOne({{.Primary.DataColumn|lcfirst}} : string|number) {
  return request({
    url: prefix+`/`+ {{.Primary.DataColumn|lcfirst}} ,
    method: 'get'
  })
}

//删除某一条{{.Title}}
export function deleteIt({{.Primary.DataColumn|lcfirst}} : string|number) {

  return request({
    url: prefix+'/{{.Primary.DataColumn|lcfirst}}',
    method: 'delete'
  })
}

//删除多条{{.Title}}
export function deleteIts({{.Primary.DataColumn|lcfirst}}s : string[]|number[]) {
  return request({
    url: prefix,
    method: 'delete',
    data:{
      {{.Primary.DataColumn|lcfirst}}s
    }
  })
}

//根据条件导出{{.Title}}
export function exportxls(cond:any) {
  return request({
    url: prefix+'/export',
    method: 'post',
    responseType: 'blob',
    data:cond
  })
}

//默认导出全部API
export default {search,create,update,deleteIt,deleteIts,getOne,exportxls}
{{end}}